.graphiql-page-wrapper {
  max-width: 1318px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 62px;
  label,
  h3 {
    font-size: 32px;
    font-weight: 500;
  }
  h2 {
    font-size: 64px;
    padding-left: 128px;
    font-weight: 700;
  }
  input,
  .graphiql-status-output {
    height: 69px;
    border: none;
    border-radius: 15px;
    background-color: $input-background;
    font-size: 24px;
    padding: 33px 43px 33px 43px;
    color: $main-color;
    &:focus {
      outline-color: $main-color;
    }
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .graphiql-wrapper {
    @include border-style;
    padding: 44px 22px 44px 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .graphiql-endpoint-wrapper {
      width: 100%;
      height: 148px;
      @include border-style;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
    .graphiql-headers-wrapper {
      @include border-style;
      padding: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .graphiql-headers-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 21px;
        .add-headers-button {
          width: 122px;
          height: 24px;
          border: none;
          background: none;
          @include border-style;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          font-weight: 500;
          color: $main-color;
          transition: all 0.2s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: $main-color;
            color: white;
          }
        }
        .content-toggle-button {
          margin-left: auto;
          align-self: flex-start;
        }
      }
      .graphiql-headers-main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .graphiql-headers-name-wrapper {
          display: flex;
          gap: 10px;
          h4 {
            width: 40%;
          }
        }
        .graphiql-headers-pairs-wrapper {
          display: flex;
          gap: 10px;
          input {
            width: 40%;
            height: 35px !important;
            padding: 0px;
            font-size: 20px;
            font-weight: 500;
            padding: 10px;
          }
        }
      }
    }
    .graphiql-query-wrapper,
    .graphiql-variables-wrapper {
      @include border-style;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 26px;
    }
    .graphiql-variables-wrapper {
      .graphiql-variables-header {
        display: flex;
        justify-content: space-between;
        .content-toggle-button {
          align-self: flex-start;
        }
      }
    }
  }
}

.graphiql-response {
  display: flex;
  flex-direction: column;
  gap: 52px;
  h3 {
    margin-bottom: 16px;
  }
  .response-wrapper {
    @include border-style;
    padding: 20px;
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    .graphiql-response-body-wrapper {
      .graphiql-response-body {
        @include border-style;
        height: 245px;
      }
    }

    .graphiql-status-output-wrapper {
      .graphiql-status-output {
        background: none;
        @include border-style;
      }
    }
  }
  .graphiql-documentation-wrapper {
    h3 {
      margin-bottom: 23px;
    }
    .graphiql-documentation {
      display: block;
      @include border-style;
      width: 100%;
      height: 200px;
      padding: 12px 43px;
    }
  }
}

.content-toggle-button {
  border: none;
  background: none;
  span {
    display: block;
    height: 15px;
    width: 24px;
    background-image: url('/assets/images/content-toggle-img.png');
    background-size: 100%;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
