.history-wrapper {
  max-width: 1374px;
  margin: 0 auto;
  padding-top: 73px;
  h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 45px;
    padding-left: 70px !important;
  }
  .history-requests-wrapper {
    @include border-style;
    padding: 48px 69px 20px 48px;
    min-height: 300px;
    a {
      width: max-content;
      display: flex;
      gap: 20px;
      text-decoration: none;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      transition: all 0.2s ease-in-out;
      .request-method-name {
        font-size: 28px;
        font-weight: 600;
      }
      .request-endpoint-name {
        font-size: 20px;
        font-weight: 500;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .history-empty-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    font-size: 54px;
    font-weight: 700;
    height: 154px;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 60px;
    min-height: 50vh;
  }
  .history-empty-heading span {
    text-align: center;
  }
  .client-links-wrapper {
    display: flex;
    width: max-content;
    margin: 0 auto;
    gap: 100px;
    a {
      padding: 24px;
      padding-top: 18px;
      text-decoration: none;
      color: $main-color;
      font-size: 38px;
      font-weight: 700;
      @include border-style;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: white;
        background-color: $main-color;
      }
    }
  }
}
