.main-btn {
  padding: 20px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: $main-color;
  background-color: #fff;
  border: 2px solid $main-color;
  border-radius: 20px;
  margin-right: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.main-btn:hover {
  color: white;
  background-color: $main-color;
}

.container {
  padding: 0 100px;
}

.main-block-first {
  display: flex;
  flex-direction: row;
  height: 90vh;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
}

.un-grad {
  color: $main-color;
}

.main-block-second {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border: 2px solid $main-color;
  border-radius: 15px;
  height: 80vh;
  justify-content: center;
}

.main-block-second h3 {
  margin: 20px 0;
  font-size: 48px;
}

.main-block-3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.main-block-3 h3 {
  margin: 20px 0;
  font-size: 48px;
}

.about-text {
  font-size: 24px;
}

.main-block-first {
  height: 80vh;
}

.main-out {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: fit-content;
}

.main-logo-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-logo {
  background-image: url('/assets/images/rss-rc-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60vh;
  height: 60vh;
  min-width: 10vh;
  min-height: 10vh;
}
