.main-btn {
  padding: 20px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #65558f;
  background-color: #fff;
  border: 2px solid #65558f;
  border-radius: 20px;
  margin-right: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.main-btn:hover {
  color: white;
  background-color: #65558f;
}

.container {
  padding: 0 100px;
}
