.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.error-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 40vw;
}

.error-popup h2 {
  margin-bottom: 10px;
}

.error-popup button {
  padding: 20px 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: $main-color;
  background-color: #fff;
  border: 2px solid $main-color;
  border-radius: 20px;
  margin-right: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.error-popup button:hover {
  color: white;
  background-color: $main-color;
}
